:root{
    --width:0%;
}

*{
    padding:0px;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
header{
    background-color: #ff5a00;
    width:100%;
}   
#header{
    display: flex;
    align-items: center;
    padding:5px;
    justify-content: space-between;
}
header nav#desktop-nav{
    display: flex;
    height:4.8em;
    background-color:#ff5a00;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:white;

} 

#open-navbar{
    font-size: 2.5em;
}

#mobile-nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ff5a00;
    height: 100vh;
    width: 100%;
    top: -130%;
    z-index: 2;
    justify-content: space-around;
    animation: hhh 1s  ease-in-out alternate;
    transition: 1s ease-in-out;
}

#mobile-nav a{
    color:black;
    text-decoration: none;
    font-size: 2em;
    margin-left:1em;
}

#links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#desktop-nav a{
    color:white;
    text-decoration: none;
    margin:5px;
}
#desktop-nav a:hover{
    color:white;
} 
#desktop-nav img{
    height:3em;
    width:8em;
    border-radius: 100%;
}

a.nav-link{
    font-size:1.2em;
}

.btn-form-mobile{
    border:1px solid white;
    padding:10px;
    width:98vw;
    border-radius: 0.8em;
    background-color: white;
}

.nav-link{
    position: relative;
}

#desktop-nav .nav-link::after{
    display: block;
    content: '';
   width: var(--width);
   height: 2px;
   background: white;
   position: absolute;
   bottom: 0;
   left: 0;
   animation: under;
   transition: 1s ease;
} 
.nav-link:hover{
    animation: under 1s linear;
    animation-fill-mode: forwards;
}

@keyframes under {
    0%{
        --width: 0%;
    }
    100%{
        --width: 100%;
    }
}

#signup{
    width:fit-content;
}

#signupform{
    color:black;
}   

#form{
    width:80%;
    left:10%;
    position: relative;
}

#form form{
    margin:1.8em;
}

input{
    width: 100%;
    border-radius: 5px;
    height:2.4em;
    border:1px solid gray;
    color:gray;
    padding:5px;
}

input::placeholder{
    padding:3px;
}

input:active{
    outline: #545454;
}

label{
    padding:5px;
    font-size: 600;
    font-size: 1.1em;
} 

#foot{
    display: flex;
    width:9vw;
    text-align: center;
}
#foot button{
    width:48%;
    margin:10px;
}

#submit-btn{
    background-color:#ff5a00;
    border: none;
    margin-top:1em;
    color:white;
    padding:0.7em;
    width: min-content;
    border-radius: 5px;
}

#home-screen{
    display: flex;
    justify-content: space-between;
}
section div#home-screen-text img{
    height:464px;
}


#home-screen-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    margin:1em 0 4em 0;
}

#footer button{
    padding:10px;
    width:49%;
    border-radius: 5px;
    border:none;
}
#submit-btn{
    background-color: #ff5a00;
}
#cancel-btn{
    color:black;
}

#signup-btn{
    background-color: #ff5a00;
    padding:10px;
    color:white;
    border-radius: 5px;
    border:none;
}

#close-navbar{
    float: right;
    text-align: right;
    padding-right: 0.6em;
    font-size:3em;
}

.mobile-section{
    min-height:100vh;
}
#home{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:  rgb(255, 238, 229);
}

section{    
    opacity: 0;
}
.show{
    animation: showing 1s ease-in-out forwards;
}   

@keyframes showing {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

.info-mobile-screen{
    display: flex;
    flex-direction: column;
    padding:3em;
}

#aboutus img{
    border-radius: 10px;
    width:60vw;
    box-shadow: 1px 1px 15px 1px #545454;
    transition: 1s ease;
}   

#aboutus img:hover{
    transform: scale(0.98);
}

#aboutus .info-mobile-screen p{
    font-size: 1.5em;
    width:60vw;
    margin:1em;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 238, 229);
    height:10vh;
}
footer i {
    font-size:2em;
    margin:10px;
}

footer i:hover{
    color: #ff5a00;
}

i{
    cursor: pointer;
}
#up-arrow{
    width: fit-content;
    padding:15px;
    display: none;
    position:absolute;
    background-color: #ff5a00;
    left:120%;
    bottom:-100%;
    border-radius: 5px;
}
#up-arrow i{
    font-size: 1.3em;
}


.loading-page{
    position: absolute;
    z-index: 999;
    width:100%;
    height:100%;
    background-color: #ff5a00;
}

#progressive {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.six-sec-ease-in-out {
    transition: width 6s ease-in-out;
}

#shadow {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}