:root{
    --width:0%;
}

*{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#desktop-nav{
    display: flex;
    height:4.5em;
    background-color:#ff5a00;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color:white;
}

nav{
    background-color:#ff5a00;
    color:white;
}
#mobile-nav{
    z-index: 9999;
    width:10em;
    height:100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left:-100%;
    background:linear-gradient(to right,#ff5a00,#ad6602 );
}

#logo-desktop{
    margin:1em;
}
#button-collaps{
    width:2.5em;
    height: 2.5em;
    border: none;
    border-radius: 5px;
}
#button-collaps i{
    font-size: 1.4em;
    color:red;
}
#mobile-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    padding:0.8em;
}
#mobile-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    color:white;
    text-decoration: none;
    margin:5px;
}
nav a:hover{
    color:white;
}
nav img{
    height:3em;
    width:8em;
    border-radius: 100%;
}

a.nav-link{
    font-size:1.1em;
}
.btn-form{
    border:1px solid white;
    padding:10px;
    border-radius: 0.8em;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    display: block;
    content: '';
   width: var(--width);
   height: 2px;
   background: white;
   position: absolute;
   bottom: 0;
   left: 0;
   animation: under;
   transition: 1s ease;
} 
.nav-link:hover{
    animation: under 1s linear;
    animation-fill-mode: forwards;
}

@keyframes under {
    0%{
        --width: 0%;
    }
    100%{
        --width: 100%;
    }
}
#signupform{
    color:black;
}

#form{
    width:80%;
    left:10%;
    position: relative;
}

#form form{
    margin:1.8em;
}

input{
    width: 100%;
    border-radius: 5px;
    height:2.4em;
    border:1px solid gray;
    color:gray;
    padding:5px;
}

input::placeholder{
    padding:3px;
}

input:active{
    outline: #545454;
}

label{
    padding:5px;
    font-size: 600;
    font-size: 1.1em;
} 

#footer{
    width:100%;
    text-align: center;
}

#submit-btn{
    background-color:#ff5a00;
    border: none;
    margin-top:1em;
    color:white;
    padding:0.7em;
    border-radius: 5px;
}

#home-screen{
    display: flex;
    justify-content: space-between;
}
section div img{
    height:464px;
}

section div{
    background-color: rgb(255, 238, 229);
}

#home-screen-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    margin:1em 0 4em 0;
}

#footer button{
    padding:10px;
    width:49%;
    border-radius: 5px;
    border:none;
}
#submit-btn{
    background-color: #ff5a00;
}
#cancel-btn{
    color:black;
}

#signup-btn{
    background-color: #ff5a00;
    padding:10px;
    color:white;
    border-radius: 5px;
    border:none;
}


section img{
    display: none;
}