
*{
    font-family:Georgia, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
    background-color:  #f5dbae;
}


header {
    background-color:rgb(255, 158, 31);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #151820;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #151820;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #4c308b;
}

section {
    padding: 100px 200px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: center;
    color: #120a42;
    color: #151820;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}
.title span{
    text-align: center;
    margin-left:5px;
    width:400px;
    background-color:rgb(255, 158, 31);
    letter-spacing: 3px;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);

}
.title span:hover{
    transform: scale(1.1);
}



.card {
    background-color:rgb(255, 158, 31);
    width: 19.25em;
    box-shadow: 0 5px 20px rgba(255, 158, 31, 0.8);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.8s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    border-radius: 30px;

}
img{
    height: 230px;
    width: auto;
}
.card .img {

    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #260b7f;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.footer {
    background-color:rgb(255, 158, 31);
    color: #260b7f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #120a42;
}


.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }


  

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }


}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }

}